{% extends 'base.html' %}

{% block content %}
    <div class="load">
        {% if load.date_created  %}
            <div class="date">
                {{ load.date_created  }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}        
            <a class="btn btn-default" href="{% url 'load_edit' pk=load.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'load_remove' pk=load.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn btn-default" href="{% url 'load_pdf' pk=load.pk %}"><span class="glyphicon glyphicon-file"></span></a>
        {% endif %}
        <h1>{{ load.load_number }}</h1>
        <p>{{ load.carrier }}</p>
        <p>{{ load.pickup_date }}</p>
        <p>{{ load.delivery_date }}</p>
        <p>{{ load.shipper }}</p>
        <p>{{ load.consignee }}</p>
        <p>{{ load.po_number }}</p>
        <p>{{ load.pu_number }}</p>
        <p>{{ load.pieces }}</p>
        <p>{{ load.description }}</p>
    </div>
{% endblock %}